.header {
  padding: 20px 0;
  margin-bottom: 44px;
  border-bottom: 1px solid #d3d8dc;
}

.header-logo {
  float: left;
  width: 245px;
}

.header-button {
  float: right;
  background-color: #ff790f;
  color: #FFF;
  font-weight: 800;
  padding: 10px 20px;
  border-radius: 5px;
}

.header-button:hover {
  background-color: #ef700d;
}
