.sidebar {
	background-color: #f2f0e9;
	text-align: center;
	padding: 15px;
	border: 5px solid #edebe1;
}

.sidebar-title {
	font-size: 16px;
	font-weight: 800;
	margin-bottom: 12px;
}

.sidebar-countries {
	margin-bottom: 7px;
}

.sidebar-country {
	width: 30%;
	margin: 0 1% 8px 1%;
	border: 1px solid #b9b9b3;
	color: #4c4c45;
	background-color: #fff;
	border-radius: 4px;
	padding: 8px;
	display: inline-block;
	box-sizing: border-box;
}

.sidebar-icon {
	width: 40px;
}

.sidebar-text {
	font-size: 10px;	
}

.sidebar-button {
	width: 100%;
	padding: 10px;
	border: 2px solid #ff8d15;
	background-color: #ff8d15;
	color: #ffffff;
	border-radius: 4px;
	box-sizing: border-box;
}