body {
  color: #393934;
  font-family: helvetica;
}

.page-column {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: auto;
}

.left-column {
  float: left;
  width: calc(100% - 376px);
  margin-bottom: 20px;
}

.right-column {
  float: left;
  width: 300px;
  padding-left: 76px;
}

a {
  text-decoration: none;
}
