body {
  color: #393934;
  font-family: helvetica;
}

.page-column {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.left-column {
  float: left;
  width: calc(100% - 340px);
  margin-bottom: 20px;
}

.right-column {
  float: left;
  width: 290px;
  padding-left: 50px;
}
