<div class="footer">
  <% data.countries.each do |country| %>
		<div class="footer-column">
		  <% country.items.each do |item| %>
		  	<a href="/"><%= item %></a>
		  <% end %>
		</div>
  <% end %>
</div>
