<div class='header'>
  <div class='page-column'>
    <div class='header-title'>
      <%= current_page.data.title %>
    </div>
    <% if current_page.data.subtitle %>
      <div class='header-subtitle'>
        <%= current_page.data.subtitle %>
      </div>
    <% end %>
  </div>
</div>