<div class="sidebar">
  <div class="sidebar-title">
    <%= data.sidebar.title %>
  </div>

  <div class="sidebar-countries">
    <% data.countries.each do |country| %>
      <div class="sidebar-country">
        <img
          class="sidebar-icon"
          src="images/country-thumbnails/<%= country.code %>.svg"
        />
        <div class="sidebar-text">
          <%= country.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
