<h1>How Difficult Is It To Learn A New Language, Really?</h1>
<h2>We give an honest answer to the question you’ve surely asked yourself, whether you’re learning a new language or brushing up on an old one.</h2>
<div class="article-info">
  <img class="contributor-image" src="images/contributors/bianca-trepte.png">
  <div class="contributor-text">
    BY <a href="/">BIANCA TREPTE</a>
  </div>
</div>
<div class="article-content">
  <img class="article-image" src="images/articles/how-hard-learn-new-language.jpg">
</div>
